
.wrapper {
    padding: 0px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  

.horizontal{
  border: none;
  border-top: 2px solid var(--color-white);
  margin-top: 20px;
  box-shadow: 2px;
}